.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  background-color: rgb(197, 212, 182);
}

.btn{
  margin: 10px;
  margin-top: 20px;
  width: 51vh;
}
input {
  margin-top: 10px;
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
  margin-left: 30px;
  width: 80%;
  background-color: rgb(215, 224, 205);

}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  padding: 5px;
}

.list {
  margin: 20px;
  width: auto;
  padding: 20px;
  font-size: 20px;
}